node_modules/
*.log
.DS_Store
Thumbs.db
*.tmp
.env
backend/i2o_clothing.db
.vscode/
.idea/
*.swp
*.swo
AppData/
OneDrive/
Desktop/
Downloads/
Documents/
Pictures/
Music/
Videos/
Favorites/
Contacts/
Links/
Searches/
Saved Games/
IntelGraphicsProfiles/
Zotero/
ntuser.*
.bash_history
.claude.json
.claude/
.copilot/
.expo/
.gitconfig
.viminfo
.vscode/